.idea/
venv/
__pycache__
.pytest_cache
settings1.py
experimental/
config.nswag
celerybeat-schedule
celerybeat.pid

#docker
img_nvgsrv/
mqttdata_nvgsrv/
pgdata_nvgsrv/
up.sh

stixex_ssh.pem
.vscode/sftp.json
